@media (max-width: 1300px) {
    .nav-links {
        font-size:15px
    }

    .language-container {
        right: 8%;
        top: 9%
    }
}

@media (max-width: 900px) {
    .burger-btn {
        display:flex;
        position: absolute;
        top: 20px;
        right: 10px;
        border: 0;
        background: transparent;
        z-index: 10
    }

    .li-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%;
        background-image: url(img/cloudstablet-aa1518d7.png);
        background-size: cover;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        z-index: 9;
        height: 1000px;
        transition: .5s
    }

    .li-container.active {
        transform: translate(0);
        transition: .5s;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%
    }

    .li-container.active:after {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 700px
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        max-width: 90%
    }

    .nav-links li {
        height: 70px
    }

    .nav-links li:before {
        display: none
    }

    .burger-btn.active+.li-container .nav-links {
        display: block;
        transition: .5s
    }

    .language-container {
        right: 78%;
        top: 3%
    }
}

@media (max-width: 500px) {
    .burger-btn {
        display:flex;
        position: absolute;
        top: 20px;
        right: 10px;
        border: 0;
        background: transparent;
        z-index: 10
    }

    /* .li-container { 
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%;
        background-image: url(img/cloudstablet-aa1518d7.png);
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        z-index: 9;
        height: 900px;
        transition: .5s
    } */

    /* .li-container.active {
        transform: translate(0);
        transition: .5s;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%
    } */

    /* .li-container.active:after {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 700px
    } */

    .nav-links {
        display: flex;
        flex-direction: column;
        font-size: 17px;
        padding-bottom: 240px
    }

    .nav-links li {
        height: 30px
    }

    /* .nav-links li:before {
        content: "";
        position: absolute;
        top: 40px;
        width: 10%;
        left: 45%;
        height: 1px;
        transition: .5s
    }

    .burger-btn.active+.li-container .nav-links {
        display: block;
        transition: .5s
    } */
}



@media (max-width: 900px) {
   

    .homepage {
        height: 1000px;
        margin-top: 0
    }

    .h1-intro {
        top: 10%;
        font-size: 90px
    }

    .hi {
        top: 13%
    }

   

}

@media (max-width: 550px) {
    .homepage {
        display: flex;
        height:40vh;
        max-width: 100%;
        align-items: center;
    }

    .mari2 {
        width: 120px;
        top: 55%;
        left: 27%
    }
    .mariposa{
        display: none;
    }

    .h1-intro {
        top: 12%;
        font-size: 40px;
        line-height: 55px;
        margin: 60px;
        margin-left: 0px;
    }

    .hi {
        top: 60px;
        font-size: 30px;
        margin-left: 60px;
    }

    .secondary-text {
        top: 23.5%;
        font-size: 10px
    }

    .front-span {
        font-size: 20px;
        letter-spacing: 17px
    }

    .dev-span {
        font-size: 30px
    }
}
@media (max-width: 1400px) {
    .h2-pic-cv {
        flex-direction:column
    }

    .container {
        height: auto
    }
}

@media (max-width: 1017px) {
    .h2-pic-cv {
        flex-direction:column;
        text-align: center;
        align-items: center
    }

    .container {
        height: 1617px;
        background-image: url(img/askyfullofstars2mobile2-48d16e15.png)
    }
}


@media (max-width: 550px){
    /* .container{
        height:2400px
    } */
    .title-mi{
        font-size: 33px;
        max-width: 70%;
        margin-right: 0
    }
    .mifoto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 300px;
    }
    .container2 h2 {
        width: 300px;
        text-align: center
    }

    .container2 p {
        width: 240px;
        font-size: 18px
    }

    .img-mi{
        width: 200px;
        height: 200px;
    }
    .container2{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        flex-wrap: wrap;
    }
    .a-neon {
        width: 80px;
        height: 30px;
        font-size: 14px
    }

    .container2 .box2 {
        width: 300px;
        height: 500px
    }

    .box2 .gettoknowme {
        font-size: 18px
    }
}

/*RESPONSIBE PROYECTOS!*/
@media (max-width: 1500px) {
    .box-body {
        height:1126px;
        margin-bottom: 300px;
        margin-top: 14px
    }

    .myproject {
        top: -20%
    }
}

@media (max-width: 930px) {
    .box-body {
        background-image:url(../copiado/img/cloudstablet-aa1518d7.png)
    }

    .myproject {
        top: -10%
    }
}

@media (max-width: 650px) {
    .project-container .card {
        width:350px;
        height: 250px
    }

    .project-container .card .imgBx {
        position: absolute;
        top: 20px;
        width: 300px;
        height: 170px
    }

    .project-container .card .content {
        position: absolute;
        top: 180px;
        width: 100%
    }

    .myproject span {
        font-size: 30px
    }
}

/*@media (max-width: 550px){
    .project-container .card{
        width: 370px;
        height: 250px;
    }
    .project-container .card .imgBx{
        position: absolute;
        width: 300px;
        height: 170px;
        top: 20px;
    }
    .project-container .card .imgBx img{
        width: 300px;
    }
    .myproject span {
        font-size: 30px
    }
    .project-container .card .content {
        position: absolute;
        top: 180px;
        width: 100%

    }
    .project-container .card .content h2{
        font-size: 20px;
    }
    .project-container .card .content p{
        font-size: 12px;
    }
}
/*iniciooo responsive cetificado*/
@media (max-width: 1400px) {
    .certificate-container {
        height:150vh
    }
}

@media (max-width: 1100px) {
    .cert-img {
        width:370px
    }

    .cert-img:hover {
        transform: scale(1.1)
    }
}

@media (max-width: 900px) {
    /* .certificate-container {
        padding-top:300px;
        height: auto
    } */

    .two-img {
        flex-direction: column;
        align-items: center
    }

    .cert-img {
        max-width: 90%
    }

    .certificate-container h2 {
        font-size: 25px
    }
}

@media (max-width: 600px) {
    .certificate-container h2 {
        font-size:23px;
        letter-spacing: 4px;
        margin-bottom: 40px
    }
}

/*Responsive footer*/
@media (max-width: 550px ) {
    footer{
        display: flex;
        flex-direction: column;
    }
    .likedin{
        width: 30px;
        height: 30px;
    }
}